* {
margin: 0;
padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .05fr 1fr .10fr;
  grid-template-areas:
  'a'
  'b'
  'c';
  height: 100vh;
}
#dock-container {
    grid-area: c;
    width: 40%;
    height: 100px;
    background: rgba(73, 73, 73, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(105, 105, 105, 0.518);
    backdrop-filter: blur(2px);
    margin: 0 auto;
    text-align: center;
    margin-bottom: .5%;
    margin-top: .5%;
    min-width: 500px;
    max-width: 500px;
    padding: 10px;
}

#dock {
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  text-align: center;
}

ul {
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px 0px;
}
#avatar {
  grid-area: avatar;
}
#projects {
  grid-area: projects;
}
#contact {
  grid-area: contact;
}
#resume {
  grid-area: resume;
}
#dock-container li {
  grid-column: span 1;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  
}

#dock-container li img {
  width: 50%;
  height: auto;
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 80%;
}

#dock-container li:hover img { 
  -webkit-transform: scale(2);
  margin: -3em 0 0 0;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}

/* #dock-container li span {
  display: none;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 4px 0;
  border-radius: 12px;
}
#dock-container li:hover span {
  display:grid;
  color: #fff;
} */

#dock-container li span {
  display: none;
  position: relative;
  bottom: 7em;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 4px 0;
  border-radius: 12px;
}
#dock-container li:hover span {
  position: relative;
  display: block;
  color: #fff;
}

/* #dock-container #resume li:hover span {
  position: relative;
  display: block;
  color: #fff;
  height:108px;
} */
/* Menu Bar */

.whole-menu-bar {
  z-index: 1;
  backdrop-filter: blur(50px);
  background-color: rgba(36, 36, 36, 0.236);
  grid-area: 'a'
}
.menu-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 30px;
  color: white;
}
.mb-item {
  margin: 0px 10px;
  color: white;
  text-decoration: none;
}
.mb-item:hover {
  margin: 0px 10px;
  color: rgb(200, 200, 200);
  text-decoration: none;
  cursor: pointer;
}

/* Social Icons */
.socials {
  justify-content: right;
}
.mb-social {
  font-size: 18px;
  margin: 0px 12px;
  color: white;
}
.bi-linkedin {
  color: white
}
.bi-envelope-fill {
  font-size: 21px;
}
.right-most {
  margin-right: 25px;
  color:white;
}
/* PROJECTS PAGE */
  
.projects-setup {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    z-index: 0;
  }

/* Modal */
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 20px 10px;
  height: 65%;
}
.mymodal {
  justify-content: center;
  align-items: center;
  position: initial;
  margin: 30px;
  width: 30%;
  height: 500px;
  min-width: 300px;
}

.modal-content {
  width: 300px;
  height: 350px;
  display: contents;
  overflow: scroll;
  display: flex;
  color: black;
  align-items: center;
  padding: 20px;
}
.modal-header,
.modal-footer {
  flex-direction: column;
  padding: 10px;
}

.modal-title {
  margin: 0;
  padding: 15px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.modal-body {
  padding: 0px 20px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.modal-image {
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
/* Resume Page */ 
.resume-windows {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-template-rows: 1fr;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 1180px) {
  .resume-windows {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2%;
  }
}
.resume-contents {
  margin: auto auto;
  border-radius: 8px;
  padding: 0px 5px;
  width: 90%;
}
.download-content {
  width: 300px;
  height: 8%;
  margin: 0 auto;
  border-radius: 8px;
  grid-template-columns: 100%;
  grid-template-rows: 5% 1fr;
  margin-top: 3%;
  }
  
.window-buttons {
  display: flex;
  position:relative;
  margin: 0 auto;
  margin-top: 1%;
  padding: 5px;
  background-color:rgb(235, 235, 235);
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.circle {
  width:1em;
  height: 1em;
  font-size: 12px;
  margin: 2px;
  border-radius: 100px;
}
.red {
  background-color: #fe5f57;
}
.yellow {
  background-color: #febc2e;
}
.green {
  background-color:#23ba3a;
}
.overflow-auto {
  width: 100%;
  height: 74vh;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.resume-png {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border-top: .2px solid rgb(227, 227, 227);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.download-png {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  text-align: center;
  background-color: white;
  margin-bottom: 5%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.download-button-text {
margin: 5px 20px;
font-weight: bold;
}

/* Contact Form Page */
.wrapper {
  /* min-width:500px; */
  margin: 5% auto;
  display: grid;
  grid-template-columns: .4fr .8fr;
  grid-template-rows: .1fr 1fr;
  width: 40%;
  height: 100%;
  align-items: center;
  background: rgb(252, 252, 252);
  border-radius: 8px;
  font-size: 16px;
}
.aboutme-img {
  height: 80%;
  width: 80%;
  border-radius: 1000px;
  border: 5px solid black;
  margin: 20%;
}

.sec2 {
  width:100%;
  margin: 0 10%;
  text-align: left;
  padding: auto;
  font-size: 100%;
}
.download-content-home {
  grid-column: span 2;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  }
.window-buttons-home {
  width: 100%;
  display: flex;
  position:relative;
  margin: 0 auto;
  padding: 5px;
  background-color:rgb(235, 235, 235);
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.about-title {
  font-size: 1.5em;
}
.about-role {
  font-size: 1em;
}

/* TABS */
.whole-tab-page {
width: 100vw;
}
.tab-wrapper {
  width: 700px;
  margin: 4% auto;
}
.tab-container {
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: .6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  'sec1''sec2';
  justify-items: center;
  align-items: center;
  height: 50%;
  overflow: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tab-whole {
  width: 100%;
  background-color: #ebebeb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.sec1 {
  justify-content: right;
  background-color: white;
}
.myimg{
  justify-content: right;
  width: 100%;
  border: black 4px solid;
  margin: 0 auto;
  border-radius:100%;
}

.nav {
  justify-content: center;
  padding:0 0 10px 0;
}

.modal-description {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  overflow: scroll;
}

.modal-links {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  overflow: scroll;
}

.skills-container {
  background-color: white;
  text-align: center;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.align-left {
  text-align: left;
}

.overview-text {
  text-align: left;
  padding-left: 10%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgb(203, 203, 203) !important;
  color: rgb(45, 45, 45) !important;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px;
}

.nav-pills .nav-link {
  color: rgb(45, 45, 45) !important;
  border: 1px rgb(43, 43, 43) solid;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.align-right {
  text-align: center;
}

.biggertext{
  font-size: 30px;
}

.iframe-resume{
  width: 100%;
  height: 100%;
}

.tab-outline {
  border: 1px solid rgb(180, 180, 180);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.tab-outline2 {
  border: 1px solid rgb(180, 180, 180);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}